.Loader {
    margin: 100px auto;
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid #65adc09e;
    border-bottom-color: #075061;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}